extends layout

block content
  h1= title
  p login to #{title}
  p sign in to #{title}
  p provider page
  p provider info page
  p provider history
  p Request provider page
  p Provider chat 
  p Provider booked
  p purchaser page
  p purchaser home page 
  p flowers and decor
  p music & dhole
  p tent &chair
  p cart and payment page
  p order placed page
